.inputContainer {
    height: 5rem;
    display: flex;
    align-items: center;
    background: var(--input-background);
    border: transparent;
    border-radius: 12px;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.inputContainer:focus-within {
    outline: 1px solid var(--primary);
}

.inputContainer input {
    width: 100%;
    height: 100%;
    border: transparent;
    background-color: transparent;
    font-size: 2rem;
    font-family: inherit;
    box-sizing: border-box;
    outline: transparent;
}

.inputError.inputError {
    outline: 1px solid var(--error)
}

.decorator {
    font-size: 1.6rem;
    color: var(--light-primary);
}

.error {
    font-size: 1.4rem;
    color: var(--error);
}
